@model TrashCollectorProject.Models.Customer


@{

    ViewData["Title"] = "Update Account";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    

}

<h1>Edit</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

          



            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="PickUpDay" class="control-label"></label>
                <select asp-for="PickUpDay" class="form-control">
                    <option value="">Select Day</option>

                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>

                </select>
                <span asp-validation-for="PickUpDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OneTimePickUp" class="control-label"></label>
                <input asp-for="OneTimePickUp" class="form-control" />
                <span asp-validation-for="OneTimePickUp" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SuspendStart" class="control-label"></label>
                <input asp-for="SuspendStart" class="form-control" />
                <span asp-validation-for="SuspendStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuspendEnd" class="control-label"></label>
                <input asp-for="SuspendEnd" class="form-control" />
                <span asp-validation-for="SuspendEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine1" class="control-label"></label>
                <input asp-for="Address.AddressLine1" class="form-control" />
                <span asp-validation-for="Address.AddressLine1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.AddressLine2" class="control-label"></label>
                <input asp-for="Address.AddressLine2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Address.ZipCode" class="control-label"></label>
                <input asp-for="Address.ZipCode" class="form-control" />
            </div>
            <div class="form-group">

                <input asp-for="Address.Longitude" class="form-control" />
            </div>
            <div class="form-group">

                <input asp-for="Address.Latitude" id="lat" class="form-control" />
            </div>

            <div class="form-group">
                <div hidden>
                    <input asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId" />
                    <input asp-for="AccountBalance" class="form-control" />
                    <input asp-for="AddressId" class="form-control" />
                </div>

                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
